name: Ubuntu Rebel build & QA test 

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libreadline-dev libffi-dev 

      - name: Build rebel using Makefile.linux
        run: |
          cd src
          make -f Makefile.linux clean
          make -f Makefile.linux
          ./rebel qa-dot

#      - name: Run -q test
#        run: |
#          cd examples
#          echo -e "Running ./rebel -q"
#          ../src/rebel -q 00-hello.rbl
#      - name: Run regression tests in tests/ folder
#        run: | 
#          cd tests
#          echo -e "Running ./rebel *.test.rbl:"
#          ../src/rebel *.test.rbl
