name: macOS system info

on: [push, pull_request]

jobs:
  build:
    runs-on: macos-15-intel

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: OS info
        run: uname -a

